:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cursor-custom:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="53" fill="none" viewBox="0 0 40 53"><g filter="url(%23a)"><path fill="%23000" d="m34.069 23.461-12.372 6.712 7.106 13.1-4.366 2.368-7.106-13.1-12.372 6.712-.447-35.55 29.557 19.758Z"/><path fill="%23fff" d="m36.47 23.572-13.087 7.1 7.106 13.1-6.55 3.553-7.106-13.1-13.088 7.1L3.242 1.36l33.229 22.213Zm-7.665 19.7-7.106-13.1 12.372-6.71L4.514 3.703l.447 35.55 12.372-6.711 7.106 13.099 4.366-2.369Z"/></g><defs><filter id="a" width="39.23" height="51.965" x=".242" y=".359" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="2"/><feGaussianBlur stdDeviation="1.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_1184_11083"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_1184_11083" result="shape"/></filter></defs></svg>')
      0 0,
    auto;
  --cursor-pointer:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="47" height="64" fill="none" viewBox="0 0 47 64"><g filter="url(%23a)"><path fill="%23fff" d="M11.963 2.08c4.586-2.296 8.892 2.222 11.427 5.518 2.693 3.503 6.396 9.163 8.116 12.772 8.54 6.524 11.262 12.616 8.54 19.837 2.597 1.1 3.8 3.561 2.722 7.103-1.158 3.8-4.636 9.283-10.906 10.85-3.176.792-7.204-.338-7.93-3.915-4.136-.459-7.287-3.412-8.761-7.206-2.858 1.26-5.76-.71-7.484-2.931-1.46-1.882-2.728-4.476-3.742-7.49-1.665-4.947.177-9.423 2.996-11.268.1-3.99 3.69-7.39 7.705-7.114-2.257-2.982-4.83-6.173-5.53-9.932-.475-2.555.451-5.026 2.847-6.225Z"/><path stroke="%23000" stroke-width="1.5" d="M37.472 41.372c3.543-6.81 1.333-12.42-7.455-19.803m7.455 19.803c2.496.011 4.518 2.15 3.543 5.353-1.045 3.43-4.163 8.23-9.573 9.582-4.329 1.08-6.433-1.96-5.476-4.075m11.506-10.86c-.592 1.274-2.267 3.52-2.956 4.123m-4.5-23.926C26.707 15.479 18.73.753 12.83 3.706c-3.39 1.696-2.005 5.958 1.409 10.752 2.3 3.23 4.833 6.2 7.017 9.753-2.287-2.934-5.81-4.96-8.81-3.873-3.37 1.223-3.932 4.842-3.472 6.066m21.043-4.835c1.9 3.495 4.634 11.011 5.5 16.107M8.974 26.404c-2.336.694-4.916 4.562-3.23 9.576 1.95 5.795 4.74 9.536 7.52 9.54 1.642.002 2.53-1.035 2.875-2.874M8.974 26.404c2.04-.848 5.884.756 8.819 4.25m-1.654 11.992c.079 3.023 1.946 6.842 4.024 8.224 2.115 1.408 4.678 1.77 5.803 1.362m-9.827-9.586c.265-1.418-.12-5.185-3.787-8.901m13.614 18.487c1.124-.407 2.075-.867 3.347-1.694m-5.646-15.975c.819 1.312 1.809 3.887 2.096 5.325m1.722-8.848c.819 1.312 1.809 3.887 2.096 5.324"/></g><defs><filter id="a" width="45.852" height="62.945" x=".313" y=".453" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/><feOffset dy="2"/><feGaussianBlur stdDeviation="1.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_1364_31379"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_1364_31379" result="shape"/></filter></defs></svg>')
      7 0,
    pointer;
  --cursor-text: 
     url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iNDkiIHZpZXdCb3g9IjAgMCAyOSA0OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgZmlsdGVyPSJ1cmwoI2ZpbHRlcjBfZF8xNTM4XzUxMzEpIj4KPHBhdGggZD0iTTguNSAxQzEwLjg0MzUgMSAxMi45NjM5IDEuOTQ5MjEgMTQuNSAzLjQ4MDQ3QzE2LjAzNjEgMS45NDkyMSAxOC4xNTY1IDEgMjAuNSAxSDI2VjZIMjAuNUMxOC41NjcgNiAxNyA3LjU2NyAxNyA5LjVWMzUuNUMxNyAzNy40MzMgMTguNTY3IDM5IDIwLjUgMzlIMjZWNDRIMjAuNUMxOC4xNTYxIDQ0IDE2LjAzNiA0My4wNTAxIDE0LjUgNDEuNTE4NkMxMi45NjQgNDMuMDUwMSAxMC44NDM5IDQ0IDguNSA0NEgzVjM5SDguNUMxMC40MzMgMzkgMTIgMzcuNDMzIDEyIDM1LjVWOS41QzEyIDcuNTY3IDEwLjQzMyA2IDguNSA2SDNWMUg4LjVaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+CjxwYXRoIGQ9Ik04LjUgMi41QzExLjA0NjcgMi41IDEzLjI3NTIgMy44NjAyNiAxNC41IDUuODkzNTVDMTUuNzI0OCAzLjg2MDI2IDE3Ljk1MzMgMi41IDIwLjUgMi41SDI0LjVWNC41SDIwLjVDMTcuNzM4NiA0LjUgMTUuNSA2LjczODU4IDE1LjUgOS41VjM1LjVDMTUuNSAzOC4yNjE0IDE3LjczODYgNDAuNSAyMC41IDQwLjVIMjQuNVY0Mi41SDIwLjVDMTcuOTUzIDQyLjUgMTUuNzI0NyA0MS4xMzkyIDE0LjUgMzkuMTA1NUMxMy4yNzUzIDQxLjEzOTIgMTEuMDQ3IDQyLjUgOC41IDQyLjVINC41VjQwLjVIOC41QzExLjI2MTQgNDAuNSAxMy41IDM4LjI2MTQgMTMuNSAzNS41VjkuNUMxMy41IDYuNzM4NTggMTEuMjYxNCA0LjUgOC41IDQuNUg0LjVWMi41SDguNVoiIGZpbGw9ImJsYWNrIi8+CjxkZWZzPgo8ZmlsdGVyIGlkPSJmaWx0ZXIwX2RfMTUzOF81MTMxIiB4PSIwIiB5PSIwIiB3aWR0aD0iMjkiIGhlaWdodD0iNDkiIGZpbHRlclVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIj4KPGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz4KPGZlQ29sb3JNYXRyaXggaW49IlNvdXJjZUFscGhhIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMTI3IDAiIHJlc3VsdD0iaGFyZEFscGhhIi8+CjxmZU9mZnNldCBkeT0iMiIvPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxLjUiLz4KPGZlQ29tcG9zaXRlIGluMj0iaGFyZEFscGhhIiBvcGVyYXRvcj0ib3V0Ii8+CjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwLjI1IDAiLz4KPGZlQmxlbmQgbW9kZT0ibm9ybWFsIiBpbjI9IkJhY2tncm91bmRJbWFnZUZpeCIgcmVzdWx0PSJlZmZlY3QxX2Ryb3BTaGFkb3dfMTUzOF81MTMxIi8+CjxmZUJsZW5kIG1vZGU9Im5vcm1hbCIgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iZWZmZWN0MV9kcm9wU2hhZG93XzE1MzhfNTEzMSIgcmVzdWx0PSJzaGFwZSIvPgo8L2ZpbHRlcj4KPC9kZWZzPgo8L3N2Zz4K")
      0 0,
    text;
}

body {
  background-color: var(--clr-bg-2);
  cursor: var(--cursor-custom);
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;

  &:hover {
    text-decoration-style: wavy;
  }
}

a,
button {
  cursor: var(--cursor-pointer);
}

input,
textarea,
  [contenteditable="true"] {
  cursor: var(--cursor-text);
}

.description-text {
  font-size: clamp(1.2rem, 3vw, 24px);
  grid-column: narrow-start / narrow-end;
  padding-top: 50px;
  padding-bottom: 60px;
}

.title {
  font-family: "But Head", sans-serif;
  font-size: clamp(4rem, 10vw, 120px);
  line-height: 0.85;
}

@media (max-width: 1000px) {
  .description-text {
    grid-column: full-start / full-end;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
